
.bubble, .bubbles, .imagen1, .imagen2, .login-admin{
    position: absolute;
  }
  
  .imagen1{
      width: 180px;
      height: 80px;
      margin-left: 35px;
      margin-top: -50px;
  }
  .imagen2{
      width: 390px;
      height: 465px;
      margin-left: -117px;
      z-index: 2;
  }
  
  
  .login-admin {
      z-index: 2;
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content:center;
      background-color: #2a2a72;
      background-image: url(https://papers.co/wallpaper/papers.co-vo18-samsung-galaxy-7-edge-blue-abstract-pattern-40-wallpaper.jpg?download=true);
      
  &__content {
      z-index: 2;
      background: rgb(0,49,108);
      background: linear-gradient(90deg, rgba(0,49,108,1) 0%, rgba(0,91,172,1) 100%);
      padding: 160px 50px;
      width: 410px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
      position: absolute;
      margin-right: -450px;

  > h1 {
      z-index: 2;
      font-size: 35px;
      text-align: center;
      margin-bottom: 50px;
  }
  }
  }
  body {
    z-index: 1;
    //background: #1a1e23;
    margin: 0;
  }
  
  $bubble-count: 50;
  $sway-type: "sway-left-to-right", "sway-right-to-left";
  
  @function random_range($min, $max) {
    $rand: random();
    $random_range: $min + floor($rand * (($max - $min) + 1));
    @return $random_range;
  }
  
  @function sample($list) {
    @return nth($list, random(length($list)));
  }
  
  .bubbles {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .bubble {
    z-index: 1;
    position: absolute;
    left: var(--bubble-left-offset);
    bottom: -75%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
  
    &::before {
      z-index: 1;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: hsla(183, 94%, 76%, 0.3);
      border-radius: inherit;
      animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
    }
  
    @for $i from 0 through $bubble-count {
      &:nth-child(#{$i}) {
        --bubble-left-offset: #{random_range(0vw, 100vw)};
        --bubble-radius: #{random_range(1vw, 10vw)};
        --bubble-float-duration: #{random_range(6s, 12s)};
        --bubble-sway-duration: #{random_range(4s, 6s)};
        --bubble-float-delay: #{random_range(0s, 4s)};
        --bubble-sway-delay: #{random_range(0s, 4s)};
        --bubble-sway-type: #{sample($sway-type)};
      }
    }
  }
  
  @keyframes float-up {
    to {
      transform: translateY(-175vh);
    }
  }
  
  @keyframes sway-left-to-right {
    from {
      transform: translateX(-100%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  
  @keyframes sway-right-to-left {
    from {
      transform: translateX(100%);
    }
  
    to {
      transform: translateX(-100%);
    }
  }